.App {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  border: 1px solid #BEC1C3;
}

.Settings__wrapper {
  display: flex;
  justify-content: space-between;
}

.Settings {
  width: 100%;
  padding: 20px;
}

.Border {
  border-right: 1px solid #BEC1C3;
}

.Buttons {
  padding: 10px 20px;
  border-top: 1px solid #BEC1C3;
}

.ButtonWrapper {
  display: flex;
  width: 220px;
  justify-content: space-between;
}